@font-face {
	font-family: JetBrainsMono;
	src: url(fonts/JetBrainsMono/woff2/JetBrainsMono-Regular.woff2);
}

@font-face {
	font-family: JetBrainsMono;
	src: url(fonts/JetBrainsMono/woff2/JetBrainsMono-Bold.woff2);
	font-weight: bold;
}

@font-face {
	font-family: JetBrainsMono;
	src: url(fonts/JetBrainsMono/woff2/JetBrainsMono-Italic.woff2);
	font-style: italic;
}

body {
	font-family: JetBrainsMono;
}

iframe {
	border: none;
}

.imageContainer {
	text-align: center;
	margin: 0.5rem 0;
}

.image {
	max-width: 560px;
	width: 100%;
}

.youTubeContainer {
	display: flex;
	justify-content: center;
}

p {
	text-align: justify;
}

a {
	color: black;
}

h1, h2 {
	text-align: center;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
	margin: 0.5rem 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0.5em 0 1em 1em;
}

.header {
	color: #555;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	background: radial-gradient(ellipse at 50% 100%, #B0B0B0, #FEFEFE);
	height: 6rem;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 3rem;
	background: radial-gradient(ellipse at 50% 0%, #B0B0B0, #FEFEFE);
	height: 3rem;
}

.footer > a {
	color: #555;
	text-decoration: none;
}

.footer > a > img {
	vertical-align: middle;
	margin: 0 0.25rem 0 1rem;
}

@media only screen and (max-width: 750px) {
	.footer > a > span {
		display: none;
	}
}

.title {
	margin-top: 2rem;
	font-size: 2.2rem;
	font-weight: bold;
	background-color: #565656;
	color: transparent;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
}

.description {
	height: 1rem;
	font-size: 0.75rem;
	font-style: italic;
}

.menu {
	position: fixed;
	top: 0.25rem;
	left: 0;
	right: 0;
	text-align: center;
	height: 2rem;
}

.menu > a {
	color: #444;
	text-shadow: 0 4px 7px #666, 0 6px 14px #999;
}

.menu > a.selected {
	text-shadow: none;
}

.menu > a:hover {
	color: #222;
}

.menu > a > span {
	position: absolute;
	transform-origin: 0 500px;
}

.body {
	position: fixed;
	top: 6rem;
	left: 0;
	right: 0;
	bottom: 3rem;
	overflow: auto;
}

.content {
	margin: auto;
	max-width: 1024px;
	padding: 1em;
}

.contributors {
	border-collapse: collapse;
	border-style: hidden;
	margin: auto;
}

.contributors td, .contributors th {
	border: 1px solid black;
	padding: 5px;
}

.contributors tr td:last-child {
	text-align: right;
}

