@font-face {
	font-family: JetBrainsMono;
	src: url(fonts/JetBrainsMono/woff2/JetBrainsMono-Regular.woff2);
}

@font-face {
	font-family: JetBrainsMono;
	src: url(fonts/JetBrainsMono/woff2/JetBrainsMono-Bold.woff2);
	font-weight: bold;
}

@font-face {
	font-family: JetBrainsMono;
	src: url(fonts/JetBrainsMono/woff2/JetBrainsMono-Italic.woff2);
	font-style: italic;
}

body {
	font-family: JetBrainsMono;
}

.header {
	color: #555;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	box-shadow: 0px 5px 5px rgba(100, 100, 100, .3);
	background: radial-gradient(ellipse at 50% 100%, #B0B0B0, #FEFEFE);
	height: 7rem;
}

.title {
	margin-top: 3rem;
	font-size: 2.2rem;
	font-weight: bold;
	background-color: #565656;
	color: transparent;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
}

.description {
	height: 1rem;
	font-size: 0.75rem;
	font-style: italic;
}

.menu {
	position: fixed;
	top: 0.5rem;
	left: 0;
	right: 0;
	text-align: center;
	height: 2rem;
}

.menu > a {
	color: #444;
	text-shadow: 0 4px 7px #666, 0 6px 14px #999;
}

a {
	color: black;
}

.body {
	position: fixed;
	top: 7em;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.content {
	margin: auto;
	text-align: justify;
	max-width: 1024px;
	padding: 1em;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}

h1, h2 {
	text-align: center;
	margin: 0;
	padding: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0.5em 0 1em 1em;
}

